:root {
  --primary-bg: #0b0e11;
  --banner-color: #151a21;
  --alt-banner: #242c37;
  --primary-text: #dee3ea;
  --banner-text: #fd4d4d;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-bg);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-text);
  margin-left: 1%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
